.file-input {
  background-color: white;
  height: 160px;
}

.input-well {
  background-color: #fcfcfc;
}

.input-well-container {
  display: flex;
  justify-content: center;
}

.file-input-form {
  margin: auto;
  text-align: center;
}

.input {
  margin-left: 50px;
  margin-bottom: 5px;
}

.download-button-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.download-button {
  width: 30%;
  margin: auto;
}

.download-text {
  margin: auto;
  color: rgb(20,158,125);
}
